<template name="_newForm"><br>
  <div class="ui grid">
    <div class="ui row">
      <div class="two wide column"></div>  
      <div class="twelve wide column">
        <div class="ui form">
          <div class="ui inverted blue segment">
            <div class="ui header">New Decision</div>  
          </div>  
          <div class="field">
            <label>Title</label>
            <input type="text" name="title">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>