<template name="new">
  {{#contentFor "headerButtonLeft"}} 
    <button data-ion-menu-toggle="left" class="button button-clear">
      <i class="fa fa-bars"></i>
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}} 
    <h1 class="title title-center">New Decision</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div id="transition" class="padding">
      <div class="ui grid">
        <div class="row">
          <div class="sixteen wide column">
            {{> _newForm}}
          </div>  
        </div>    
      </div>
    </div>  
    {{/ionContent}}
  {{/ionView}}

  {{#ionFooterBar class="bar-dark"}}
    <button data-add-factor class="ui green labeled button">
      <i class="plus icon"></i>
      Add Factor
    </button>
    <button data-remove-factor class="ui disabled red labeled button">
      <i class="remove icon"></i>
      Remove Factor
    </button>
    <div data-submit-decision class="ui large pink button">
      <i class="save icon"></i>
      Finish Decision
    </div>  
  {{/ionFooterBar}}
</template>